@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="../flux-chat/css/chatapp.css">
</head>
<body>
<div>
    <section id="react"></section>
    @Scripts.Render("~/bundles/main")
    @*<script src="../flux-chat/js/bundle.js"></script>*@
</div>
</body>
</html>
